nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightblue;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 65px;
}


.drop-down-btn{
    background-color: lightblue;
    border: 1px solid white;
    color: black;
    height: 55px;
    border-radius: 10px;
}
.drop-down-btn:hover {
    background-color: aquamarine;
}

.dropdown-items{
    display: none;
    align-self: end;
    margin: 0;
    list-style: none;
    background-color: lightblue;
    padding: 6px;
    border-radius: 5px;
    position: absolute;
}

.drop-down-item{
    position: relative;
    border: 1px solid white;
    background-color: lightblue;
    color: black;
    margin-bottom: 15px;
    height: 25px;
    width: 45px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.drop-down-item:hover{
    background-color: aquamarine;
}